@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*definição de cores padrão  */
:root{
    --red:#E50914;
    --black:#141414;
}

/* reset css e padrão do body */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:  var(--black);
    font-family:'Montserrat', sans-serif;
    color: #fff;
}
/*estilização head-bar*/
header{
    position: fixed;
    top:0;
    left: 0;
    background-color: var(--black);
    width: 100%;
    z-index: 99;  
}

header .logo {
    height: 30px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
    font-size: 14px;

}

header nav a:hover {
    color: #fff;

}
header .head-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 30px;
}

#nav-bar{
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center ;
    align-items: center;
    gap: 20px;
}

header .head-bar .icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;
    align-items: center;
}

#imagem-vivi{
    height: 20px;
}

/*filme principal */
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),  url('/img/suits-cover.jpg');
    background-size: cover;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-content: space-around ;
}

.filme-principal  .descricao {
    margin-top: 10px;
    margin-bottom: 40px;
    max-width: 50%;
    min-width: 400px;
}
.titulo{
    font-size: 50px;
    font-weight: 900;
    font-family: 'Trebuchet MS',  Arial, sans-serif;
    margin-top: 15%;
}
.botao{
    background-color:rgba(0, 0,0 ,.50) ;
    border: none;
    color: white;
    padding: 15px 30px;
    margin-right: 15px;
    font: 12px;

    cursor: pointer;
    transition: 0.8s ease all;

}
.botao:hover{
    background-color: #fff;
    color: black;
}

.filme-principal .botoes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    padding: 40px;
}

.container{
    margin-left: 30px;
}
.botao i{
    margin-left: 8px;
}

.filme-principal .container{
    width: 70%;
}


/*carrossel */
.box-filme{
    height: 70%;
    width: 70%;
    display: block;
    cursor: pointer;
}

.carrossel-filmes{
   padding: 30px 30px;
}

.section-title{
    padding-bottom: 20px;
}

.icons-container{
    height: 30px;

}
.icon{
    size: 100%;
}

footer{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
height: 80px;
align-content: center;
}

.footer-cont{
   display: flex;
   justify-content: center;
   align-items: center;
   justify-items: center;
   gap: 20px;
   height: 30px;

}

footer a {
    padding-bottom: 20px;
    text-decoration: none;
    color:white;
}

footer a:hover{
    color: var(--red);
    cursor: pointer;
}